*{

    text-decoration: none;
}
.logo img{
    width: 40.89px; 
    height: 32px;  
    display: inline-flex;
}
.active{
    color: orange;
}
.logo{
    
    position: absolute;
    top:10px;
    left: 30px;
}

.black{
    color: black;
}

.logop{
    display: inline;
    /*width: 52px;
    height: 16px;*/
    position:absolute;
    top: 0;
    left: 80px;
    font-family: "Poppins",sans-serif;
    font-weight:600px;
    line-height: 16px;
    font-size: 18px;
    letter-spacing: 0;

    

}
li,.nav-links,.nav-buttons{
    display: inline;
}
.nav-links{
    text-align: center;
    color:black;
    position: absolute;
    left:500px;
    gap: 32px;
    display: flex;
}
li{
    font-family: "poppins",sans-serif;
}
.nav-buttons{
    padding-right: 75px;
    font-family: "poppins",sans-serif;
    float:right;
    position:relative;
    gap:10px;
    display:flex;
    
}
.navbar{
    min-width: 100%;
    height: 65px;
    background-color:#FFFFFF ;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: auto;
}
.main{
    background-color: #F7F9FF;
    background-size: cover;
    width: 110%;
    height:680px;
    display: flex;
}
.box{
    width: 545px;
    height: 462px;
    padding-top: 20px;
    padding-left: 50px;

}
.box2{
    width: 545px;
    height: 462px;
    padding-bottom: 243px;
    padding-right: 182px;
    font-family: "poppins",sans-serif;
}


.login{
    display: inline-flex;
    color: #5978FF;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0%;
    top:8px;
    position: absolute;
}
.get{
    width: 120px;
    height: 35px;
    display:inline-flex;
    top: 35px;
    left: 1350px;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 8px;
    background-color: #5978FF;
    border-color: #5978FF;
}
.get-started{
    color:white;
    display: inline-flex;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    position: absolute;
    top: 8px;
}
.log{
    width: 78px;
    height: 35px;
    display:inline-flex;
    float:left;
    border-radius: 10px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 8px;
    border-color: #5978FF;
    background-color: #FFFFFF;
}
.none{
    height:462px;
    position: relative;
    top:50px;
    left: 100px;
    display: inline;
    width: 400px;
    padding: 10px 10px; 
    font-family: "poppins",sans-serif;
}
.c1{
    width:538px;
    height: 128px;

}

.text{
    color:#5978FF;
    width: 545px;
    height:145px;
    
}
.text1 {
    width: 600px; 
    height: 128px;  
    position: absolute;
    top: 3px;
    font-family: "poppins", sans-serif;  
    font-weight: bold;  
    font-size: 48px;  
    line-height: 64px;  
    letter-spacing: 0;
    
}

.login-btn{
    color:#5978FF;
    

}
.para{
    width: 526px;
    height: 96px;
    position: absolute;
    top: 250px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.pic img{
    
display: inline-flex;
top: 236px;
left: 713px;


}
.pic{
    background-color: #F7F9FF;
    width: 500px;
    height: 426px;
    position: relative;
    left: 300px;
    top: 160px;
    display: inline-flex;
}
.curve{
    width: 228px;
    height: 12px;  
    position: absolute;
    top: 200px;
    left: 244px;
    bottom: 25px;
}
.ve{
    width: 172px;
    height: 24px;
    background-color: #F7F9FF;
    gap: 12px;
    margin-left: 100px;
    margin-bottom: 500px;
    border-color: #5978FF;
    position:absolute;
    top:400px;
    display: inline-flex;
}
.image2{
    position:absolute;
    left:-100px;
}
.ve1{
    display: inline-flex;
    position: absolute;
    top: -12px;
    left:-70px;
}

.t1 img{
    width: 20px;
    height: 20px;
    position: absolute;
    top:320px;
    left: 100px;
    right:200px;
    background-color: #F7F9FF;
}
.image3{
    display: inline-flex;
    position:absolute;
    right: 20px;
}
.ve3{
    width: 150px;
    height: 50px;
    
    position: absolute;
    left:150px;
}
.ve2{
    display: inline-flex;
    position:absolute;
    bottom:12px;
    left: 5.5px;
    
}
.exp{
    display: inline-flex;
    position: absolute;
    height: 58;
    bottom:-70px;
    border-radius: 12px;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    gap: 8px;
    background-color: #5978FF;
    border-color: #5978FF;
}
.exp2{
    color:white;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.image4{
    width: 50px;
    height: 50px;
    position:absolute;
    top:45px;
    left:-30px;
}
.image5{
    width: 25px;
    height: 25px;
    position:absolute;
    bottom:60px;
    left:400px;
}
.main2{
    width:100%;
    height:750px;
}
.spac{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0%;

}
.html,body{
    overflow-x: hidden;
    overflow-y: auto;
}
.y {
    width: 100%;
    height: 700px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.yuotube1 {
    max-width: 100%; 
    height: 500px;
}


.y1{
    padding: 20px 200px;

}

.main3{
    width: 100%;
    height: 800px;
    background-color: #F7F9FF;
}
.spac2{
    width: 400px;
    height: 37px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #121214;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    position: absolute;
    left:600px;
}
.m3b1{
    padding: 100px 300px;
    width: 100%;
    height: 200px;
    gap: 50px;
    display: inline-flex;
}
.m3bx{
    padding: 0px 300px;
    gap: 50px;
    display: inline-flex;


}
.icon1{
    width: 287px;
    height: 191px;

    display: inline-block;
}
.icon2{
    width: 287px;
    height: 191px;
    
    display: inline-block;
}
.icon3{
    width: 287px;
    height: 191px;
    
    display: inline-block;
}
.icon4{
    width: 287px;
    height: 191px;
    
    display: inline-block;
}
.icon5{
    width: 287px;
    height: 191px;
    
    display: inline-block;
}
.icon6{
    width: 287px;
    height: 191px;
    
    display: inline-block;
}
.t1{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    
}
.photo{
    width: 48px;
    height: 48px;
    
    
}
.t2{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    
}
.main4{
    background-color: #F7F9FF;
    background-image: url(Bg.png),url(Bg1.png);
    height: 900px;
    display:block;
    width: 100%;
    
}
.mee{
    width: 100%;
height: 37px;
font-family: "poppins",sans-serif;
font-weight: bold;
font-size: 28px;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;


}
.dots{
    width: 153px;
height: 50px;


}
.inbl{
    display: block;
    position: relative;
    gap:50px;
    padding: 10px 250px;
}
.b1{
    background-color: white;
    width: 320px;
    height: 420px;
    display: inline-block;
    gap:30px;
    border-radius: 10px;

}
.b2{
    background-color: white;
    width: 320px;
    height: 420px;
    display: inline-block;
    border-radius: 10px;

}
.b3{
    background-color: white;
    width: 320px;
    height: 420px;
    display: inline-block;
    border-radius: 9px;
}
.person{
    
}
.oran{
    width: 290px;
    height: 32px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(225, 212, 186);
}
.crown{
    width: 16px;
    height: 16px;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;

}
.crown2{
    display: inline-block;
}
.spe{
    width: 250px;
    height: 16px;
    font-weight:400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    display: inline-block;
   

}
.bo{
    font-weight: bold;
}
.name{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    width: 230px;
    height: 22px;
    display: inline-block;
    font-weight: 550;
}
.bagimag{
    width: 16px;
    height: 16px;
    display: inline-flex;
    margin-top: 15px;
    
}
.bag{
    width: 272px;
    height: 20px;
    display: inline-flex;
}
.cro2{
    position: absolute;
    
    bottom:-75px;
}
.q{
    margin-bottom: 17px;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    color: #555555;
}
.bl1{
    width: 296px;
    height: 60px;
    border-radius: 12px;
    background-color: #F7F9FF;
    
}
.book{
    width: 80px;
    height: 40px;
    position: relative;
    bottom: 55px;
    left: 200px;
    border-radius: 10px;
    gap: 8px;
    background-color: #5978FF;
}
#book2{
    
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: -10px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    position:absolute;
    color: white
}
.cred{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 0%;
}
.r1{
    width: 100px;
    height: 16px;
    
    display: inline-flex;
}
.r2{
    width: 107px;
    height: 22px;
}
.cred2{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: line-through;
}
.expl1{
    width: 250px;
    height: 50px;
    position: absolute;
    top: 2650px;
    left: 573px;
    border-radius: 8px;
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    gap: 8px;
    border: dotted;
    border-color: #5978FF;
    font-family: "poppins",sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #5978FF;
    border-width: 2px;
}
.main5{
    height: 1000px;
    width: 100%;
}
.mbox5{
    width: 1002px;
    height: 539px;
    position: absolute;
    top: 2900px;
    left: 182px;

}
.m5b2{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    
}
.m5b3{
    width: 491px;
    height: 452px;
    top: 87px;
    gap: 40px;
    background-color: white;

}
.s1{
    width: 59px;
height: 26px;
gap: 10px;
position:absolute;
top:80px;

border-radius: 24px;
padding: 8px 15px;
background-color: #CBF2E0;
}
.s1w{
    font-family: "Poppins",sans-serif;
    width: 50px;
    height: 16px;
    text-align: center;
    gap: 10px;
    position: relative;
    bottom:10px;
    padding:-30px 10px;
font-weight: 500;
font-size: 15px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

color:#008545;

}

.m5p{
    width: 150px;
height: 30px;
top: 38px;
font-family: "Poppins",sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
vertical-align: middle;
color: #121214;
position: relative;
top: -10px;
}
.m5p2{
    font-family: "Poppins",sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 24px;
letter-spacing: 0%;
width: 350px;
height: 48px;
position: relative;
top: -25px;

}
.s2{
    width: 59px;
height: 26px;
gap: 10px;
border-radius: 24px;
padding-top: 5px;
padding-right: 12px;
padding-bottom: 5px;
padding-left: 12px;
background-color: #CBF2E0;
}
.s3{
    background-color: #CBF2E0;
    width: 59px;
height: 26px;
gap: 10px;
border-radius: 24px;
padding-top: 5px;
padding-right: 12px;
padding-bottom: 5px;
padding-left: 12px;
}
.m5b4{
    width: 491px;
height: 124px;

}
.m5b5{
    width: 491px;
height: 124px;

}
.m5b6{
    width: 491px;
height: 124px;

}

.m5i1{
    width: 900px;
    height: 900px;
    position: absolute;
    top: -200px;
    left: 150px;

}
.main6{
    width: 100%;
    height: 300px;
}
.m6b1{
    width: 1003px;
    height: 546px;
    position: absolute;
    top: 3536px;
    left: 182px;
}
.m6p1{
    font-family:"Poppins",sans-serif;
font-weight: bolder;
font-size: 28px;
line-height: 37px;
letter-spacing: 0%;
text-transform: capitalize;
width: 397px;
height: 37px;
position: absolute;
right:100px;
text-align: center;
}
.m6b2{
    width: 321px;
height: 404px;
top: 87px;
background-color: #F0F9FA;
display: inline;
position: relative;
}
.m6b3{
    width: 321px;
height: 404px;
top: 87px;
left: 341px;
background-color: #FFF5EC;
display: inline;
}
.m6b4{
    width: 321px;
height: 404px;
top: 87px;
left: 682px;
background-color: #ECF1FB;
display: inline;
}
.m7b1{
    width: 1366px;
    height: 768px;
    top: 4682px;
    background-color: #F7F9FF;

}